<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Bike Details</title>
</head>
<body>
    <h2>{{ bike.name }}</h2>
    <p>frame: {{ bike.frame }}</p>
    <p>seat: {{ bike.seat }}</p>
    <p>tires: {{ bike.tire }}</p>
    <p>basket: {{ bike.has_basket|yesno:"yes,no" }}</p>
    <p>description: {{ bike.description }}</p>
    <br><br>
    {% if get_bike_quantity < 1 %}
        <h3>Unfortunately, this bike is currently not available</h3>
    {% else %}
        <h3>If you would like to order the bike, fill in the form below:</h3>
        <form action="/process-order/" method="post">
            {% csrf_token %}
            <label for="name">your name</label>: <input type="text" id="name" name="name" maxlength="100">
            <p><label for="surname">your surname</label>: <input type="text" id="surname" name="surname" maxlength="100"></p>
            <p><label for="phone_number">your phone number</label>: <input type="text" id="phone_number" name="phone_number" maxlength="100"></p>
            <p><input type="hidden" name="bike_id" value="{{ bike.pk }}"></p>
            <input type="submit" value="Order">
        </form>
    {% endif %}
</body>
</html>